*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}
header{
    height: 70px;
    width: 100%;
    background-color: rgb(28, 3, 117);   
}
#logo{
    color: white;
    float: left;
    margin-left: 20px;
}
#navigation-bar{
    float: right;
    height: 35px;
    margin-top: 35px;
}
.nav-link, #login{
    margin: 0px 30px 0px 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.nav-link:hover, #login:hover{
    color: yellow;
}
#title{
    text-align: center;
}
#sample{
    height: 400px;
    width: 100%;
}
#collab{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:center;
    padding: 80px;
}
#collab-title{
    text-align: center;
}
img{
    height: 150px;
    animation: anime 4s;
}
@keyframes anime {
    from{opacity: 0;}
    to{opacity: 1;}
}
#merch-items{
    width: 100%;
    height: 330px;
    background-color: brown;
}

.merch-div{
    width: 23%;
    margin: 1%;
    height: 300px;
    float: left;
    padding: 0px 10px 0px 10px;
    background-color: yellow;
}
.merch-title{
    color: white;
    text-align: center;
}
.merch-img{
    height: 200px;
}

#sign-up-form{
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid 1px black;
    padding: 80px;
    padding-top: 30px;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(28, 3, 117);
    color: white;
    border-radius: 10px;
    display: none;
}
input{
    width: 50%;
    outline: none;
}
#submit-btn{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 40px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    margin-top: 30px;
}
#login{
    background-color: transparent;
    border: none;
}