*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.rect{
    box-sizing: border-box;
    border: 1px solid black;
    width: 22%;
    display: inline-block;
    margin: 1%;
}
.image{
    height: 200px;
    width: 100%;
}